---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Timeline from "../components/Timeline.astro";
import SimpleCard from "../components/SimpleCard.astro";
import { expMock } from "../data/Exp";
import { GetProyectsPagination } from "../data/Projects";
const Projects: any = await GetProyectsPagination(
  import.meta.env.GITHUB_TOKEN,
  1,
  6
);
---

<Layout title="Personal Portfolio">
  <Navbar />
  <main class="py-5 px-8 lg:px-56">
    <div class="pb-4">
      <h1 class="text-white font-bold text-3xl">Experiencia Laboral</h1>
    </div>
    {
      expMock.map((exp, index) => (
        <Timeline
          date={exp.date}
          title={exp.title}
          description={exp.description}
          url={exp.url}
          details={exp.details}
          key={index}
        />
      ))
    }
    <div class="py-3">
      <h1 class="text-white font-bold text-3xl">Proyectos</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
      {
        Projects.map((project, index) => (
          <SimpleCard
            title={project.title}
            description={project.description}
            url={project.url}
            tags={project.tags}
            key={index}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
