---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Timeline from "../components/Timeline.astro";
import SimpleCard from "../components/SimpleCard.astro";
import { expMock } from "../data/Exp";

const GetProject = fetch(
  "https://api.github.com/users/chrisestabaocupado/repos",
  {
    headers: {
      Authorization: "Bearer " + import.meta.env.GITHUB_TOKEN,
    },
  }
)
  .then((res) => res.json())
  .then((data) => {
    return data.map((project) => {
      return {
        title: project.name,
        language: project.language,
        description: project.description,
        url: project.html_url,
        tags: project.topics,
      };
    });
  });
const Projects = await GetProject;
---

<Layout title="Personal Portfolio">
  <Navbar />
  <main
    style="background-image: url('/background.png');background-size: 300px;opacity: 0.3;"
    class="py-5 px-8 lg:px-56"
  >
    <div class="w-full h-64 bg-repeat"></div>

    <div class="pb-4">
      <h1 class="text-white font-bold text-3xl">Experiencia Laboral</h1>
    </div>
    {
      expMock.map((exp, index) => (
        <Timeline
          date={exp.date}
          title={exp.title}
          description={exp.description}
          url={exp.url}
          details={exp.details}
          key={index}
        />
      ))
    }
    <div class="py-3">
      <h1 class="text-white font-bold text-3xl">Proyectos</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
      {
        Projects.map((project, index) => (
          <SimpleCard
            title={project.title}
            description={project.description}
            url={project.url}
            tags={project.tags}
            key={index}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
