---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Timeline from "../components/Timeline.astro";
import SimpleCard from "../components/SimpleCard.astro";
// Mocks and requests
import { expMock } from "../data/Exp";
import { Projects } from "../data/Projects";
---

<Layout title="Personal Portfolio">

  <Navbar />

  <main class="flex flex-col gap-5 py-10 px-8">

	<div class="xl:px-20">
		<About />
	</div>

    <div class="flex flex-col gap-4">
		<h1 class="text-white font-bold text-3xl">Experiencia Laboral</h1>
		{
			expMock.map((exp, index: number) => (
				<Timeline
					date={exp.date}
					title={exp.title}
					description={exp.description}
					url={exp.url}
					details={exp.details}
					key={index}
				/>
			))
		}
	</div>

	<div class="flex flex-col gap-4">
		<h1 class="text-white font-bold text-3xl">Proyectos</h1>
		<div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
			{
				Projects.map((project, index: number) => (
					<SimpleCard
						title={project.title}
						description={project.description}
						img_url={project.img_url}
						project_url={project.project_url}
						tags={project.tags}
						key={index}
					/>
				))
			}
		</div>
	</div>
  </main>
</Layout>

<style></style>
