---
const { title, description, project_url, img_url, tags, key, index } = Astro.props;
const card_id = `project-card-${key}`;
---

<a
  href={project_url}
  id={card_id}
  class=`group flex w-full rounded-2xl gap-16 ${
  index % 2 === 0 ? "flex-row-reverse" : "flex-row"
  }`
>
  <div class="relative h-64 rounded-2xl overflow-hidden bg-cover bg-no-repeat w-1/2">
    <img
      class="object-cover object-center w-full h-full transition-transform duration-200 group-hover:scale-105"
      src={img_url}
      alt={title}
      width="600"
    />
  </div>
  <div class="flex flex-col justify-center gap-3 w-1/2">
    <h1 class="text-lg text-light md:text-2xl font-bold group-hover:text-accent-hover transition-colors duration-200">{title}</h1>

    <p class="text-text">
      {description}
    </p>

    <div class="flex flex-wrap gap-6 my-2">
      {
        tags.map((tag: string) => (
          <span class="text-sm md:text-sm bg-primary-900 text-text px-4 py-1 rounded-full">
            {tag}
          </span>
        ))
      }
    </div>
  </div>
</a>
