---
const {
  title,
  date,
  description,
  url,
  details,
} = Astro.props;
---

<!-- Card -->
<a
  class="flex flex-col md:max-w-xs gap-2 bg-background-500 border border-primary hover:border-accent-hover rounded-xl p-4 shadow-lg w-full z-10 hover:scale-105 transition-all duration-200 reveal"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
>
  <time class="text-text-muted">
    {date}
  </time>
  <h3 class="font-bold text-lg text-accent">
    {title}
  </h3>
  <p class="font-semibold text-light">
    {details}
  </p>
  <p class="text-text-muted">
    {description}
  </p>
</a>
