---
const { title, date, description, url, details } = Astro.props;
---

<section class="flex flex-row flex-wrap gap-4">
  <ol class="relative border-s-4 border-gray-200">
    <li class="mb-10 ms-4">
      <div class="absolute w-4 h-4 rounded-full mt-1.5 -start-2.5 bg-tertiary">
      </div>
      <h2 class="font-bold text-xl text-accent">
        {details}
      </h2>
      <h3 class="text-sm font-semibold text-accent-900">
        {title}
      </h3>
      <!-- Corregido el cierre de la etiqueta -->
      <time class="mb-1 text-sm font-semibold leading-none text-accent-900">
        {date}
      </time>
      <p class="mb-6 text-justify text-base font-normal text-light-900">
        {description}
      </p>
      <a
        href={url}
        target="_blank"
        class="text-gray-100 bg-primary mt-auto p-3 rounded-xl hover:bg-secondary-500 transition-all ease-in-out duration-200"
      >
        Más información
      </a>
    </li>
  </ol>
</section>
